.navbar{
    position:fixed;
    left:0;
    top:0;
    padding: 25px 9%;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.navbar .logo {
    font-weight: bold;
    font-size: 30px;
    display:inline-block;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin: 35px;
    display:inline-block;
}

.navbar ul li a{
    font-size: 30px;
    font-weight: 500;
    transition:.5s;
}

.navbar ul li:hover a,
.navbar ul li.active a{
    color:#7cf03d;

}

a{
    color:#fff;
    text-decoration: none;
}

body{
   background-color: #1f242d;
    height: 100vh;
    margin: none;
    width: 100%;
    padding: none;
    opacity: 0.5; 
    position: relative;
}
